.heading {
    color: white;
    font-size: 1.6rem;
    margin-left: 6vw;
    color: #878787;
    margin-top: -2vh;
    padding-top: 10px;
    font-family:"DM Sans";
    font-weight: 500;
    margin-bottom: 5vh;
  }
  
  .header {
    font-family: "Single Day", cursive;
  }
  